@page "/employeeid"
@using TaskApi.Dtos.Employee_Dtos
@rendermode InteractiveServer
@inject EmployeeApiClient EmployeesClient

<h3>Get Employee By ID</h3>


@if (employeeById == null)
{
    <p>Loading...</p>
}
else
{
    
        <div>
            <p>@employeeById.Name (@employeeById.Id)</p>

            <ul>
                @if (employeeById.Tasks != null && employeeById.Tasks.Any())
                {
                    @foreach (var task in employeeById.Tasks)
                    {
                        <li>@task.Title</li>
                    }
                }
                else
                {
                    <li><em>No tasks assigned</em></li>
                }
            </ul>

        </div>
    



}

@code {
    EmployeeDto employeeById;

    protected override async Task OnInitializedAsync()
    {
        employeeById = await EmployeesClient.GetEmployeeByIdAsync(2);
    }
}
